<h1>Ajax#index</h1>
<table>
    <%= form_tag({controller: 'ajax', action: 'data'}, remote: true) do %>
    <tr><th>name</th>
        <td><%= text_field_tag :name %></td></tr>
    <tr><th></th>
        <td><%= submit_tag "送信" %></td></tr>
    <% end %>
</table>
<hr>
<table id="result"></table>

<%# <table>
    <tr>
        <th>ID</th>
        <td id="id"></td>
    </tr>
    <tr>
        <th>NAME</th>
        <td id="name"></td>
    </tr>
    <tr>
        <th>MAIL</th>
        <td id="mail"></td>
    </tr>
</table>

<br>
<%= link_to 'link by Ajax', {action: 'data'}, remote: true %>
